<button onclick="OnClick()" >Start</button>
<div id="result"></div>

<script>

function OnClick(){
    document.getElementById("result").innerHTML="";
    document.getElementById("result").innerHTML+=("Game Start<br>");
    //document.getElementById("result").innerHTML+="";
    p1=0; p2=0;deuce=false;
    i=0;
    win=0;
    document.getElementById("result").innerHTML+=(i +') '); 
        CallScore(i,p1,p2,deuce);
        document.getElementById("result").innerHTML+=("<br>");
        i++;
    while(true){
        document.getElementById("result").innerHTML+=(i +') '); 
        score=Math.round(Math.random()*10);
        if(score%2==0){
            p1++;
            document.getElementById("result").innerHTML+=("Player 1 Scores: ")
        }else {
            p2++;
            document.getElementById("result").innerHTML+=("Player 2 Scores: ")
        }
        if(p1==4 && p2==4){
            p1=3;
            p2=3;
        }
        if(deuce==false && p1==p2 && p2==3){
            deuce=true;
        }
        
        i++;
        
        CallScore(i,p1,p2,deuce);
        document.getElementById("result").innerHTML+=('<br>');
        
        if(deuce){
            if(p1-p2>=2){ 
                win=1;
                break;
            }
            if(p2-p1>=2){
                win=2;
                break;
            }
        }else if(p1>=4 || p2>=4){
            if(p1>=4)win=1; 
            else win=2;
            break;
        }
        if(i>20)break;
        
        
    }
    document.getElementById("result").innerHTML+=("Final Score: ");
    document.getElementById("result").innerHTML+=((win==1?"Player 1 Win":"Player 2 Win")+"<br>");
}
arrScore=["LOVE","Fifteen","Thirty","Forty","Advantage","WIN"]; 
function CallScore(i,p1,p2,deuce){
    
    if(p1==3 && p2==3){
        document.getElementById("result").innerHTML+=('deuce');
    }
    else if(p1==p2){
        document.getElementById("result").innerHTML+=(arrScore[p1]+'-All'); 
    }else if(deuce && p1==4){
        document.getElementById("result").innerHTML+=(" player 1 "+arrScore[p1]);
    }
    else if(deuce && p2==4){
        document.getElementById("result").innerHTML+=(" player 2 "+arrScore[p2]);
    }
    else{
        if(!deuce && p2==4){
            document.getElementById("result").innerHTML+=("Player 2 WIN"); 
        }else if(!deuce && p1==4 ){ 
            document.getElementById("result").innerHTML+=("Player 1 WIN"); 
        }else document.getElementById("result").innerHTML+=(arrScore[p1]+" - "+arrScore[p2]); 
    }
    
    
}
</script>